{% extends 'base.html' %}

{% load static %}

{% block title %}Apps in Category - App Store{% endblock %}

{% block content %}

<h2 class="mb-4">Apps in {{ apps.first.category.name }} Category</h2>
<div class="row">
    {% for app in apps %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ app.logo.url }}" class="card-img-top" alt="{{ app.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ app.title }}</h5>
                <p class="card-text">{{ app.description|safe|truncatewords:15 }}</p>
                <a href="{% url 'app_detail' app.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No apps in this category.</p>
    {% endfor %}
</div>

{% endblock %}